/* ------------------
		HOME
------------------ */
section#home select{
	background-color: rgba(255, 255, 255, 0.1);
    color: #a1a1a1;
    width: 100%;
		border: 0;
		border-radius: 0px;
		padding-bottom: inherit;
		padding-top: inherit;
}

section#home option{
    color: #c25d02;
		background-color: #a1a1a1;
		border:0;
}

section#home .select:after{
    border: 3px solid #c25d02;
		border-right: 0;
		border-top: 0;
		border-radius: 2px;
}

section#home div#dropzone {
	border: 0;
	background-color: rgba(255, 255, 255, 0.1);
    color: #a1a1a1;
    display: none;
    width: 100%;
    box-shadow: none;
    height: 2.5em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    user-select: none;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    cursor: pointer;
}
section#home p.link{
	word-break: break-all;
}
.progress::-webkit-progress-value {
	background-color: #c25d02; }
.progress::-moz-progress-bar {
	background-color: #c25d02; }
.progress::-ms-fill {
	background-color: #c25d02; }

section#home div#uploads, section#home p#tokenContainer, section#home a#panel { display: none; }
section#home div#dropzone:hover { background-color: #c25d02; border-color: #c25d02; color: #fff; }
section#home h3#maxFileSize { font-size: 14px; color: rgba(255, 255, 255, 0.3); }
section#home h3#links span { padding-left: 5px; padding-right: 5px; }
section#home img.logo { height: 200px; margin-top: 20px; }
section#home .dz-preview .dz-details { display: flex; }
section#home .dz-preview .dz-details .dz-size, section#home .dz-preview .dz-details .dz-filename { flex: 1; }
section#home .dz-preview img, section#home .dz-preview .dz-success-mark, section#home .dz-preview .dz-error-mark { display: none; }
section#home div#uploads { margin-bottom: 25px; }




/* ------------------
		FAQ
------------------ */
section#home .subtitle{
	font-size: 2.4rem;
}
section#home .message{
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 1.6rem;
}
section#home .message-body{
    color: #a1a1a1;
    width: 100%;
		border: 0;
		border-radius: 0px;
}

/* ------------------
		PANEL
------------------ */

section#login input, section#login p.control a.button {
	border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0;
		font-size: 1.8rem;
}

section#login p.control a.button { margin-left: 10px;
	background-color: rgba(255, 255, 255, 0.1);
		color: #a1a1a1;
		width: 100%;
		border: 0;
		border-radius: 0px;
	}
section#login p.control a.button:hover {
	background-color: #c25d02;
	border-color: #c25d02;
	color: #fff;
		}
section#login p.control a#loginBtn { border-right: 0px; }
section#login p.control a#registerBtn { border-left: 0px; }


section#auth, section#dashboard { display: none }
section#auth input { background: rgba(0, 0, 0, 0); }
section#auth input, section#auth a {
	border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0;
}


section#dashboard .table { font-size: 12px }
section#dashboard div#table div.column { display:flex; width: 200px; height: 220px; margin: 9px; background: #f9f9f9; overflow: hidden; flex-wrap: wrap; align-items: center; }
section#dashboard div#table div.column a { width: 100%;}
section#dashboard div#table div.column a:first-child { height: 180px; }
section#dashboard div#table div.column a img { width:200px; }

section#dashboard .table a {
color: #c25d02;

}
section#dashboard .table a:hover {
color: #4a4a4a;
}
section#dashboard .table .button.is-outlined:hover{
color: #fff;
}

section#dashboard .menu-list a:hover {
color: #c25d02;
}
section#dashboard .menu-list a.is-active {
    background-color: #c25d02;
    color: #fff;
}
section#dashboard .pagination a {
	color: #c25d02;
}

.button.is-primary {
    background-color: #c25d02;
    border-color: transparent;
    color: #fff;
	}
.button.is-primary:hover {
	    background-color: #b25c02;
	    border-color: transparent;
	    color: #fff;
		}

.select-wrapper {
	text-align: center;
	margin-bottom: 10px;
}
section#dashboard .button.is-danger.is-outlined {
    background-color: transparent;
    border-color: #4a4a4a;
    color: #4a4a4a;
	}
	section#dashboard .button.is-danger.is-outlined:hover {
	    background-color: #4a4a4a;
	    border-color: transparent;
	    color: #fff;
		}

		section#dashboard .input:active{
border-color: #c25d02;

		}
		section#dashboard .input:focus{
border-color: #c25d02;

		}
/* ------------------
		Album
------------------ */

.button.is-primary.is-outlined{
	background-color: transparent;
	border-color: #c25d02;
	color: #c25d02;
}
.button.is-primary.is-outlined:hover {
	background-color: #c25d02; border-color: #c25d02; color: #fff;
}
